<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
    failOnWarning="false"
    failOnRisky="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/GEO</directory>
            <directory>tests/Sponsors</directory>
            <directory>tests/Services</directory>
            <directory>tests/Rest</directory>
            <directory>tests/CLI</directory>
            <directory>tests/Admin</directory>
        </testsuite>
        <testsuite name="Membership Integration Tests">
            <directory>tests/Membership</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
    </coverage>
    <php>
        <env name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
    </php>
</phpunit>
