.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

*.log
*.sql
logs/

node_modules/
vendor/
composer.lock
!wp-content/plugins/**/composer.lock

wp-content/uploads/
wp-content/cache/
wp-content/debug.log
wp-content/upgrade/
wp-content/upgrade-temp-backup/

.cache/
.sass-cache/
.phpunit.result.cache
.php_cs.cache
/.env
/.env.*
.env.local
.env.development
.env.production

wp-config.php

build/
dist/

conf/mysql/
