# KH Events Production Environment Variables
KH_EVENTS_API_PRIMARY=kh_6da8ea3550440425b4a4da924d473bc0
KH_EVENTS_API_MOBILE=kh_955bcf1a0bd12ad47aa777bbf447e184
KH_EVENTS_API_WEBHOOK=kh_fee552fc0e31553dc5edca3bd28d4e18
KH_EVENTS_FACEBOOK_APP_ID=your_facebook_app_id_here
KH_EVENTS_FACEBOOK_APP_SECRET=your_facebook_app_secret_here
KH_EVENTS_FACEBOOK_ACCESS_TOKEN=your_facebook_access_token_here
KH_EVENTS_TWITTER_API_KEY=your_twitter_api_key_here
KH_EVENTS_TWITTER_API_SECRET=your_twitter_api_secret_here
KH_EVENTS_TWITTER_ACCESS_TOKEN=your_twitter_access_token_here
KH_EVENTS_TWITTER_ACCESS_TOKEN_SECRET=your_twitter_access_token_secret_here
KH_EVENTS_HUBSPOT_API_KEY=your_hubspot_api_key_here
KH_EVENTS_ENVIRONMENT=production
KH_EVENTS_DEBUG=false